*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    background-color: #5E454B;
    color:#fff;
}

.precios-container{
    height: 2000px;
    width: 100%;
}
.precios { 
    width: 100%;
    height: 100%;
    
}

.welcome { 
    background-color: red;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    
    
}
h1{
    font-size: 3rem;
   
}
h3 { 
    font-size: 1.9rem;
    margin-bottom: 1em;
}
.welcome h1,h2 { 
    padding: 1.5em;
}

